<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/new.css">

      <title>About us</title>
   </head>
   <body>
   <div class="text">   <h1>Textovert</h1></div>
      <div class="container">
         <div class="card__container">
            <article class="card__article">
               <img src="/static/WhatsApp Image 2023-10-09 at 13.29.09_63d6f03f.jpg" alt="image" class="card__img">

               <div class="card__data">
                  <span class="card__description">Rituraj Singh, Bihar</span>
                  <h2 class="card__title">Hello there! I am Rituraj Singh, the dedicated backend developer behind Textovert, I work diligently to ensure that our platform runs smoothly, allowing our users to navigate effortlessly and interact with ease.</h2>
                  <a href="#" class="card__button">Connect on</a>
               </div>
            </article>

            <article class="card__article">
               <div class="img2">
               <img src="/static/WhatsApp Image 2023-10-08 at 16.33.15_f45ec91e.jpg" alt="image" class="card__img">
            </div>
               <div class="card__data">
                  <span class="card__description">Poon Hill, Nepal</span>
                  <h2 class="card__title">Starry Night</h2>
                  <a href="#" class="card__button">Read More</a>
               </div>
            </article>
         </div>
      </div>
   </body>
</html>